<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %>
</head>
<body class="container">

  <header> 
    <!--Partial for main navigation-->
    <%- include('./partials/header'); %>
  </header>
  <div id="result" class="jumbotron">
      <h1><%= title %></h1>
      <p>Below are three past projects that I have participated in:</p>
      <h2>JETS : Jamaica Eye Ticketing System</h2>
      <p>Role : Responsible for the creationg and training of the ai model to detect license plates.</p>
      <p>Outcome : The model was created and trained correctly and the project was successful.</p>
      <img src="Assests/JETS.png" alt="img" class="w-25 mb-4"/>
      <h2>JETS : 2.5D Sidescroll platform game</h2>
      <p>Role : Responsible for the rigging the models for the game.</p>
      <p>Outcome : The game is still in its development stages.</p>
      <img src="Assests/Sidescroller.png" alt="img" class=" w-50 mb-4"/>
      <h2>JETS : Jamaica Eye Ticketing System</h2>
      <p>Role : Responsible for the creationg and training of the ai model to detect license plates.</p>
      <p>Outcome : The model was created and trained correctly and the project was successful.</p>
      <img src="Assests/JETS.png" alt="img" class="w-25"/>
      <!--Script section-->
      <script src="/jquery/dist/jquery.min.js"></script>
      <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/Scripts/appscripts.js"></script>
  </div>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>
  
</body>
</html>
